# =========================
# Python / Backend
# =========================
__pycache__/
*.pyc
venv/
*.db

# Backend uploads (runtime files)
backend/uploads/

# Firebase Admin SDK (SECRET)
*firebase-adminsdk*.json

# =========================
# Frontend / React
# =========================
frontend/node_modules/
frontend/build/

# Frontend env files
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

# =========================
# General
# =========================
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
