name: Deploy React App to GitHub Pages

on:
  push:
    branches:
      - main  # Runs when you push to the main branch

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install dependencies
        run: |
          cd frontend
          npm install

      - name: Build project
        run: |
          cd frontend
          CI=false npm run build   # Disable strict lint errors

      - name: Disable Jekyll
        run: |
          cd frontend/build
          touch .nojekyll

      - name: Deploy to GitHub Pages
        run: |
          cd frontend
          npx gh-pages -d build
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
